<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>メイン画面</title>
    <th:block layout:fragment="extra-css">
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="container">
            <h2 class="section-title">メニュー</h2>
            <div class="menu-grid">
                <th:block th:each="item : ${menuItems}">
                    <th:block th:if="${item.url != null}">
                        <!-- アクティブなメニュー項目 -->
                        <a th:href="@{${item.url}}" class="menu-item active">
                            <div class="menu-icon">
                                <i th:class="'fas fa-' + ${item.icon}"></i>
                            </div>
                            <span class="menu-title" th:text="${item.title}">タイトル</span>
                        </a>
                    </th:block>
                    <th:block th:unless="${item.url != null}">
                        <!-- 非アクティブなメニュー項目 -->
                        <div class="menu-item disabled">
                            <div class="menu-icon">
                                <i th:class="'fas fa-' + ${item.icon}"></i>
                            </div>
                            <span class="menu-title" th:text="${item.title}">タイトル</span>
                            <span class="soon-badge">準備中</span>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </th:block>
</body>
</html>
